<template>
  <div id="app" class = "app">

        <div class = "header" >

        </div>
 <div class="main-component">
            <router-view
              v-on:completedLogIn="completedLogIn"
              v-on:completedSignUp="completedSignUp"
            >
            </router-view>
        </div>
         
        <div class="boxMain" v-if="!is_visible">

            <img id = "logo" src="../src/assets/logo.png" alt="logo linegreen" v-on:click="init">
            <h2>El planeta te necesita </h2>
            <h1>Recicla. </h1>
              <form v-on:submit.prevent="LogInUserView">
                <button  type="submit"  v-on:click="loadLogIn">Ingresar</button>
              </form>
            <router-link to="/signUp" v-on:click="loadSignUp">Registrarse</router-link>

        </div>
 
</div>
</template>

<script>
  export default {
    name:'App',

     data: function (){
        return{
          
          is_visible: false
         
        }
     },

    components: {  },

    methods: {
        verifyAuth: function() {
         if(this.is_auth == false)
            this.$router.push({name: "logIn"})
        },

        init: function() {this.$router.push({name: "App"})},

        loadLogIn: function(){
          
          this.$router.push({name: "logIn"})
          console.log( "Is visible: "+ this.is_visible)
        },

        loadSignUp: function(){
          this.$router.push({name: "signUp"})
        },

        completedLogIn: function(data) {
          this.$router.push({name: "loggedIn"})
        },

        completedSignUp: function(data) {},

        LogInUserView: function(){
          this.is_visible = true,
          this.$router.push({name: "logIn"})
        }

    },

      created: function (){
        //this.verifyAuth()
        
      }

  }
</script>


<style>
body {
  margin: 0 0 0 0;
}

.header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2vh; 
    min-height: 10px;
    background-color: #33CC33 ;
    color:#E6E6E6  ; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .header h1{
    width: 20%;
    text-align: center;

  }

  .boxMain{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 95vh;
    margin-top: 1em;
    background-color: #33CC33;
    background: url("../src/assets/fondo3.png");
    background-repeat: no-repeat;
    text-align: left;
    box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.2);
    
    
  }
  .boxMain h2{
    
     margin-left: 40px;
     font-family: "Century Gothic",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: #9b9b9b;
     ont-weight: normal;
    
  }
  .boxMain h1{
    
     margin-left: 40px;
     font-family: "Century Gothic",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: #666666;
     font-weight: bold;
    
  }
  .boxMain button{
    
     width: 14em;
     margin-left: 40px;
     font-family:  Verdana, sans-serif;
     color: white;
     font-weight: bold;
     padding: 10px 25px 10px 25px;
     background-color: #33CC33;
     font-size: 0.9em;
     box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
     cursor: pointer;
     
   
  }
  .boxMain button:hover{
    
    
     background-color: #077207;
     font-size: 0.9em;
     
   
  }
  .boxMain a{
    
     margin: 30px 40px;
     font-family:  Verdana, sans-serif;
     color: #33CC33;
     font-style: italic;
     display: block;
    
     
    
    
  }

  #logo{
    width: 20%;
    margin: 50px 40px;
    cursor: pointer;
  }



</style>
