<template>

    <div class="logIn_user">
        <div class="container_logIn_user">
            <img src="../../src/assets/logo.png" alt="logo linegreen" v-on:click="init">
            <h2>Iniciar sesión</h2>
            
            <form v-on:submit.prevent="processLogInUser" >
                <input type="text" v-model="user.username" placeholder="Username">
                <br>
                <input type="password" v-model="user.password" placeholder="Password">
                <br>
                <button type="submit">Iniciar Sesion</button>
            </form>
        </div>

    </div>





</template>
<!--Inicio Script componenente LogIn.vue-->
<script>
import axios from 'axios'

export default {
    name: "LogIn",
    data:function() {
        return{
            user:{
                username:"",
                password:""
            }
        }
        
    },
   
    methods:{
        processLogInUser: function(){
            axios.post(
                "https://linegreen-backend.herokuapp.com/login/",
                this.user,
                {headers: {}}
                )
                .then((result) => {
                    let dataLogIn = {
                        username: this.user.username,
                        token_access: result.data.access,
                        token_refresh: result.data.refresh,
                    }
                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                });
        },
        init: function() {this.$router.push({name: "App"})},
    },
    created: function (){
      
    }
}
</script>

<!--Inicio Style componenente LogIn.vue-->
<style>
     .logIn_user{
        background: url("../../src/assets/fondo2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        position:relative;
        margin: 1em auto;
        height: 93vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

   .logIn_user .container_logIn_user {
        border: 2px solid  #33CC33;
        border-radius: 10px;
        width: 25%;
        padding: 1em;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }

    .logIn_user .container_logIn_user img{
        width: 60%;
        height: auto;
        cursor: pointer;
    }

    .logIn_user h2{
        color: #33CC33;
    }
        .logIn_user form{
        width: 70%;
    }

    .logIn_user input{
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        border: 1px solid #33CC33;
    }
    .logIn_user button{
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #33CC33;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    }
    .logIn_user button:hover{
        color: #E5E7E9;
        background: #109e10;
        border: 1px solid #96999d;
    }



</style>
