<template>
   <div class="signUp_user">
        <div class="container_signUp_user">
            <div class="sideRight">
              <img src="../../src/assets/logo.png" alt="logo linegreen" v-on:click="init"> 
            <h2>Registro de usuarios</h2>

            </div>
            
            <form v-on:submit.prevent="processSignUp" >
                <input type="text" v-model="user.username" placeholder="Username">
                <br>
                <input type="password" v-model="user.password" placeholder="Password">
                <br>
                <input type="text" v-model="user.nombre" placeholder="Nombre">
                <br>
                <input type="text" v-model="user.apellido" placeholder="Apellido">
                <br>
                <input type="text" v-model="user.direccion" placeholder="Direccion">
                <br>
                <input type="text" v-model="user.ciudad" placeholder="Ciudad">
                <br>
                <input type="text" v-model="user.barrio" placeholder="Barrio">
                <br>
                <input type="text" v-model="user.zona" placeholder="Zona">
                <br>
                <input type="text" v-model="user.telefono" placeholder="Telefono">
                <br>
                <input type="email" v-model="user.correo" placeholder="Email">
                <br>
                <button type="submit">Registrarse</button>
                <button id="cancelar" v-on:click="cancelar">Cancelar</button>
            </form>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: "SignUp",

    data: function(){
        return {
            user: {
                username: "",
                password: "",
                nombre: "",
                apellido: "",
                id: 0,
                direccion: "",
                ciudad: "",
                barrio: "",
                zona: "",
                telefono: "",
                correo: ""
            }
        }
    },

    methods: {
        processSignUp: function(){
            axios.post(
                "https://linegreen-backend.herokuapp.com/rearusuario/",
                this.user,
                {headers: {}}
            )
    
            .then((result) => {
                let dataSignUp = {
                username: this.user.username,
                token_access: result.data.access,
                token_refresh: result.data.refresh,
                 }

            this.$emit('completedSignUp', dataSignUp)
            
            })
            .catch((error) => {
                console.log(error)
                alert("ERROR: Fallo en el registro.");
            });
        },
         init: function() {this.$router.push({name: "App"})},
         cancelar: function() {this.$router.push({name: "App"})},
    }
}
</script>

<style>
    .signUp_user{
        background: url("../../src/assets/fondo2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 1em auto;
        padding: 3em;
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .container_signUp_user {
       
        width: 55%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px 25px;
        align-items: center;
        border: 2px solid #33CC33;
        border-radius: 10px;
        box-shadow: 1px 2px 1px 2px rgba(0, 0, 0, 0.2);
    }
.signUp_user img{

        margin: 1em auto;
        width: 60%;
        height: auto;
        cursor: pointer;
        display: block;
}


    .signUp_user h2{
        color: #33CC33;
       text-align:center;
        font-family: "Century Gothic",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .signUp_user form{
        width: 90%;
        position: relative;
        margin: 0 auto;
    }
    .signUp_user input{
        position: relative;
        display: inline-block;
        height: 6vh;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 0.5em auto;
        border: 1px solid #7d7e80;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        text-align:center;
    }
    .signUp_user button{
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #33CC33;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
       
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        font-size:1em;
    }
    #cancelar{
      background: #424342;
      color: #33CC33;
      margin-top: 0.1em;
    }
    .signUp_user button:hover{
        color: #E5E7E9;
        background: #109e10;
        border: 1px solid #0f9738;
        cursor: pointer;

    }
</style>